.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
body {
  padding: 10px;
  font-family: sans-serif;
  background-color: #ffffcc;
  background-image: trnear-gradient(to bottom, #2ebebe, #8FC93A 100%);
  background-attachment: fixed;
  position: absolute;

  top:0;
  bottom:0;
  left:0;
  right:0;

  padding:0;
  margin:0;

  font-size: 1.1em;
}

.container {
  top: 50px;
  max-width: 90%;
  margin:0 auto;
  min-height: 100%;
  background: white;
}
.display{
  width: 50%;
}
.new-eit{
  width: 50%;margin: 0;
  padding: 0;
  background: white;
  margin: 0;
}
header {
  background:#F9F7F3;
  background-image: trnear-gradient(to bottom,  #B5E2FA, #0FA3B1 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}
#login-buttons {
  display: block;
}
h1 {
  font-size: 1.5em;
  margin:0;
  margin-bottom:10px;
  display: intrne-block;
  margin-right: 1em;
}
ul {
  margin: 0;
  padding: 0;
  background: white;
}
tr {
  position: relative;
  text-style: none;
  padding: 15px;
  border-bottom: #eee sotrd 1px;
}
 
tr .text {
  margin-left: 10px;
}
 
tr.checked {
  color: #888;
}
 
tr.checked .text {
  text-decoration: trne-through;
}
 
tr.private {
  background: #eee;
  border-color: #ddd;
}
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-eit input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-eit input:focus{
  outline: 0;
}
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  tr {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}