.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
body {
  padding: 10px;
  font-family: sans-serif;
  background-color: #ffffcc;
  background-image: linear-gradient(to bottom, #2ebebe, #8FC93A 100%);
  background-attachment: fixed;
  position: absolute;

  top:0;
  bottom:0;
  left:0;
  right:0;

  padding:0;
  margin:0;

  font-size: 1.1em;
}

.container {
  top: 50px;
  max-width: 90%;
  margin:0 auto;
  min-height: 100%;
  background: white;
}
